<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../static/css/font.css">
        <link rel="stylesheet" href="../static/css/xadmin.css">
        <script type="text/javascript" src="../static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">

                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>酒店名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_username" name="hotelname" required="" lay-verify="nikename" autocomplete="off" class="layui-input"
                                    value="{{ res[0] }}" readonly="readonly"></div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>地址</label>
                        <div class="layui-input-inline">
                            <input type="text"  name="addr" required="" autocomplete="off" class="layui-input"
                                   value="{{ res[1] }}"></div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>简介</label>
                        <div class="layui-input-block">
                        <textarea class="layui-textarea" form="hotelform" name="intro" id="intro" readonly="readonly">{{ res[2] }}</textarea></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_tel" class="layui-form-label">
                            <span class="x-red">*</span>电话</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_tel" name="tel" required="" lay-verify="required|phone" autocomplete="off" class="layui-input"
                            value="{{ res[3] }}" readonly="readonly"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_shop" class="layui-form-label">
                            <span class="x-red">*</span>商圈</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_shop" name="shop" required="" lay-verify="nikename" autocomplete="off" class="layui-input"
                            value="{{ res[4] }}" readonly="readonly"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_star" class="layui-form-label">
                            <span class="x-red">*</span>星级</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_star" name="star" required="" lay-verify="nikename" autocomplete="off" class="layui-input"
                            value="{{ res[5] }}" readonly="readonly"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">免费停车</label>
                        <div class="layui-input-block">
                            {% if res[6] == 1 %}
                                {% set indexchecked = 'checked' %}
                                {% set backchecked = '' %}
                            {% else %}
                                {% set indexchecked = '' %}
                                {% set backchecked = 'checked' %}
                            {% endif %}
                            <input type="radio" name="parklot" value="1" title="有" {{ indexchecked }}>
                            <input type="radio" name="parklot" value="0" title="无" {{ backchecked }}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">充电桩</label>
                        <div class="layui-input-block">
                            {% if res[7] == 1 %}
                                {% set indexchecked = 'checked' %}
                                {% set backchecked = '' %}
                            {% else %}
                                {% set indexchecked = '' %}
                                {% set backchecked = 'checked' %}
                            {% endif %}
                            <input type="radio" name="elec_park" value="1" title="有" {{ indexchecked }}>
                            <input type="radio" name="elec_park" value="0" title="无" {{ backchecked }}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        {% if res[8] == 1 %}
                                {% set indexchecked = 'checked' %}
                                {% set backchecked = '' %}
                            {% else %}
                                {% set indexchecked = '' %}
                                {% set backchecked = 'checked' %}
                            {% endif %}
                        <label class="layui-form-label">有无wifi</label>
                        <div class="layui-input-block">
                            <input type="radio" name="wifi" value="1" title="有" {{ indexchecked }}>
                            <input type="radio" name="wifi" value="0" title="无" {{ backchecked }}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">叫起服务</label>
                        <div class="layui-input-block">
                            {% if res[9] == 1 %}
                                {% set indexchecked = 'checked' %}
                                {% set backchecked = '' %}
                            {% else %}
                                {% set indexchecked = '' %}
                                {% set backchecked = 'checked' %}
                            {% endif %}
                            <input type="radio" name="wakeservice" value="1" title="有" {{ indexchecked }}>
                            <input type="radio" name="wakeservice" value="0" title="无" {{ backchecked }}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">行李托管</label>
                        <div class="layui-input-block">
                            {% if res[10] == 1 %}
                                {% set indexchecked = 'checked' %}
                                {% set backchecked = '' %}
                            {% else %}
                                {% set indexchecked = '' %}
                                {% set backchecked = 'checked' %}
                            {% endif %}
                            <input type="radio" name="luggage" value="1" title="有" {{ indexchecked }}>
                            <input type="radio" name="luggage" value="0" title="无" {{ backchecked }}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">有无电梯</label>
                        <div class="layui-input-block">
                            {% if res[11] == 1 %}
                                {% set indexchecked = 'checked' %}
                                {% set backchecked = '' %}
                            {% else %}
                                {% set indexchecked = '' %}
                                {% set backchecked = 'checked' %}
                            {% endif %}
                            <input type="radio" name="elevator" value="1" title="有" {{ indexchecked }}>
                            <input type="radio" name="elevator" value="0" title="无" {{ backchecked }}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">中央空调</label>
                        <div class="layui-input-block">
                            {% if res[12] == 1 %}
                                {% set indexchecked = 'checked' %}
                                {% set backchecked = '' %}
                            {% else %}
                                {% set indexchecked = '' %}
                                {% set backchecked = 'checked' %}
                            {% endif %}
                            <input type="radio" name="aircon" value="1" title="有" {{ indexchecked }}>
                            <input type="radio" name="aircon" value="0" title="无" {{ backchecked }}>
                        </div>
                    </div>
                    <!--
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">提交修改</button></div>   -->
                </form>
            </div>
        </div>
        <script>
            layui.use(['form', 'layer', 'laydate'],
                function() {
                    $ = layui.jquery;
                    var form = layui.form,
                        layer = layui.layer;
                    var laydate = layui.laydate;
                    laydate.render({
                        elem: '#date'
                    });
                    laydate.render({
                        elem: '#date1'
                    });
                    form.render();

                    //自定义验证规则
                    form.verify({
                        nikename: function(value) {
                            if (value.length < 2) {
                                return '昵称至少得2个字符';
                            }
                        },
                        pass: [/^$|(.+){6,12}$/, '密码必须6到12位'],
                        repass: function(value) {
                            if ($('#L_pass').val() != $('#L_repass').val()) {
                                return '两次密码不一致';
                            }
                        }
                    });

                    //监听提交
                    form.on('submit(add)',
                        function(data) {
                            console.log(data);
                            delete data.field["repass"];
                            if (data.field.passwd==""){
                                data.field.passwd="1";
                            }
                            $.post("updateinfo", data.field, function (res) {
                                if (res){
                                    window.location.reload();
                                } else{
                                    layer.msg("修改失败");
                                }
                            })

                            return false;
                        });

                });
            function getDate(strDate) {
                var date = eval('new Date(' + strDate.replace(/\d+(?=-[^-]+$)/,
                    function (a) { return parseInt(a, 10) - 1; }).match(/\d+/g) + ')');
                return date;
            }
        </script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>